@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&display=swap');

body {
  background-color: rgb(136, 104, 90);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
  font-family: Mukta;
}

h2 {
  font-size: 1.4rem;
  margin: 0;
  font-family: Mukta;
  text-decoration: underline;
}

h3 {
  margin: 0;
  font-family: Mukta;
  font-size: 1.15rem;
  margin-right: 5px;
}

h4 {
  margin: 0;
  font-family: Mukta;
  font-size: 0.9rem;
}
p {
  margin: 0;
  font-family: Mukta;
}
ul {
  margin: 0;
  list-style-type: none;
}
ul > li:before {
  content: " - ";
}
li {
  margin: 0;
  text-indent: -25px;
  font-family: Mukta;
  font-size: .85rem;
}
.vert-line {
  font-family: Mukta;
  margin: 0px 5px 0px 0px;
}

/* base classes*/
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
  flex-wrap: wrap;
}
.center {
  align-items: center;
}

/* header section */
.header {
  background-color: beige;
  align-items: flex-start;
  border-radius: 1.5vh;
  min-width: 100px;
  padding: 15px 20px;
  margin: 25px auto;
  box-shadow: 0px 3px 20px -7px black;
}

/* content section */
.content-container {
  margin: 0 auto;
  width: 98%;
  display: flex;
  flex-direction: column;
}
.main-col {
  background-color: beige;
  width: 90%;
  min-height: 200px;
  margin: 10px auto;
  border-radius: 1.5vh;
  padding: 15px 20px;
  box-shadow: 0px 3px 20px -7px black;

}

@media only screen and (min-width: 500px) {
  .header {
    align-items: center;
  }
  .main-col {
    width: 80%;
  }
}

@media only screen and (min-width: 850px) {
  .h2 {
    font-size: 1.5rem;
  }
  .h3 {
    font-size: 1.25rem;
  }
  .h4 {
    font-size: 1rem;
  }
  .main-col {
    width: 350px;
  }
  .content-container {
    flex-direction: row;
    justify-content: space-evenly;
    width: 800px;
  }
}